body {
    background-image: url('../images/IMG_0705.PNG');
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.white {
    color: #fff;
}

.input-area {
    position: relative;
}

.input-area input {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-area:nth-of-type(1) input:first-child{
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.input-area span {
    position: absolute;
    left: 0;
    bottom: 10px;
    padding-left: 15px;
}

.bottom-buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom-buttons button {
    width: 50%;
    border-radius: 0px;
}

.logo {
    position: relative;
    margin-top: 40%;
}